#login{
    background: var(--color-blue-50);
    width: 100%,;
    height: 100vh;
    overflow: hidden;
}

#form-login{
    background-color: var(--color-green-50);
    height: 100vh;
}

#header-login #linha-sup{
    margin-top: 15px;
    width: 80%;
}

#linha-branca-esquerda{
    width: 23.5%;
}

#linha-branca-direita{
    width: 23.5%;
    transform: rotate(180deg);
}

#login.row > * {
    padding-right: 0;
    padding-left: 0;
}

#header-login #logo{
    margin-top: 20px;
    width: 150px;
    height: 120px;
}

#titulo{
    color: var(--color-blue-900);
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

#footer{
    background-color: #22333B;
    height: 150px;
}

#footer p{
    color: var(--color-light-50)
}