#login{
    background: var(--color-blue-50);
    width: 100%,;
    height: 100vh;
    margin: 0;
}

#form-login{
    background-color: var(--color-green-50);
    height: 100vh;
}

#header-login #linha-sup{
    margin-top: 15px;
    width: 80%;
}

#linha-branca-esquerda{
    width: 23.5%;
}

#linha-baixo-esquerda{
    width: 23.5%;
}

#linha-baixo-direita{
    width: 23.5%;
    transform: rotate(180deg);
}

#linha-branca-esquerda-heitor{
    width: 20%;
}

#linha-branca-direita{
    width: 23.5%;
    transform: rotate(180deg);
}

#linha-branca-direita-heitor{
    width: 20%;
    transform: rotate(180deg);
}

#login.row > * {
    padding-right: 0;
    padding-left: 0;
}

#header-login #logo{
    margin-top: 20px;
    width: 150px;
    height: 120px;
}

#titulo{
    color: var(--color-blue-900);
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.f-texto{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
    font-weight: bold;
}

#tipo-conta{
    color: var(--color-blue-50);
}

#tipo-conta .opcoes{
    color: var(--color-dark-50);
}

.form-select{
    border-radius: 0px;
    border: 0.5px solid black;
}

#footer{
    background-color: #22333B;
    height: 120px;
}

#footer p{
    color: var(--color-light-50)
}