.star-rating {
    direction: rtl;
    display: inline-block;
    font-size: 2rem;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    color: #f5c518;  /* Amarelo por padrão */
    cursor: pointer;
}



.star-rating input[type="radio"]:checked ~ label {
    color: #f5c518;  /* Amarelo quando checada */
}

#tela-inicio{
    margin: 0;
    padding: 0;
    background-image: url('../images/bg-img.png');
    background-size: cover; /* Cobre toda a área da página */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
    font-family: Arial, sans-serif;
    color: white;
}

.navbar-left,
.navbar-right {
    display: flex;
}

#navbar-right {
    margin-left: auto; /* Move o grupo de itens da direita para o canto direito */
}

.file-upload-container {
    display: flex;
    align-items: center;
}

.file-input {
    display: none;
}

.file-label {
    padding: 10px 20px;
    background-color: #757575;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.file-label:hover {
    background-color: #323232;
}

.file-name {
    font-size: 16px;
}

.page{
    display: flex;
    background-color: #ffffff;
    border: 1px solid #ccc;
}

a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  a.one:link {color: #ffffff;}
  
  a:visited {
    color: #ffffff;
    text-decoration: none;
}
  

  
  a:active {
    text-decoration: none;
    color: red($color: #ffffff);
  }



.more-text {
    display: none;
}

.show .more-text {
    display: block;
}

.criar-conta{
    color: var(--color-blue-900);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
     text-decoration: underline;
}

.titulo-inicio{
    color: var(--color-light-50);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;  
}

#criacao{
    font-size: 2rem;

}

#criacao:link{
    text-decoration: underline;
}

.body_inicial{
    background-color: #EEF4ED;
}

#fontezinha{
    width: 320px;

}

.card-group {
    display: flex;
    gap: 20px;
}

#img-advogada{
    border-radius: 100px;
    height: 120px;
    width: 120px;
}

#saiba-mais {
    text-decoration: underline;
}

.paragrafozin{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}