.chat-window {
    height: 500px;
    overflow-y: scroll;
}
.message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.my-message {
    justify-content: flex-start;
}
.other-message {
    justify-content: flex-end;
    text-align: right;
}
.message img {
    width: 40px;
    height: 40px;
}
.message span {
    background: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
}
.my-message span {
    background: #d1e7dd;
}
.other-message span {
    background: #b8daff;
}

//CASOS

.main-content {
    padding: 20px;
}

.case-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.case-details p {
    margin: 5px 0;
}

.documents{

    justify-content: center;
    margin-bottom: 20px;
}

.card-btn {
    display:flex;
}


.actions {
    display: flex;
    justify-content: center;
}
.actions .btn {
    margin: 0 5px;
}

.btn-branca{
    background: #ffff;   
}

.btn-branca:hover{
    background: #f1f1f1;   
}

.btn-excluir{
    background: #B5CBE0;   
}

.btn-excluir:hover{
    background: #5e88af;   
}

.case-details {
    margin-top: 20px;
    padding: 20px;
}
.case-details p {
    margin: 10px 0;
}
.case-details p strong {
    color: #134074;
    font-family: 'Times New Roman', Times, serif;   
    font-size: 17px;
}
.case-title {
    font-size: 24px;
    font-weight: bold;
    color: #003366;
    text-align: center;
    margin-bottom: 20px;
}
.case-details .description {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.linhamenor{
    width: 8%;
}


    /* Estilos para o popup */
    .modal {
        display: none; /* Esconder por padrão */
        position: fixed; /* Posição fixa para cobrir a tela inteira */
        z-index: 1; /* Z-index alto para estar acima de outros elementos */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto; /* Adicionar scroll se necessário */
        background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente */
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* Centralizar na tela */
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 600px; /* Largura máxima */
        text-align: center;
        border-radius: 10px;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
