// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Times New Roman', Times, serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

:root {
    --color-light-50: #FFFFFF;

    --color-blue-50: #B5CBE0;
    --color-blue-100: #8DA9C4;
    --color-blue-900: #134074;

    --color-green-50: #EEF4ED;

    --color-dark-900: #000000;
}
